@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo</h1>
    
    <img class="img-fluid"  src="~/img/home_img.svg" alt="ProductsApp" width="600"/>
</div>


<style>
    .img-fluid{
        padding-top: 50px;
    }
    .text-center{
        margin-top: 50px;
    }
</style>